<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#0A0B0C">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>John Kalligan Music School</title>
	<meta name="description"
		content="Преподаватели этой школы не будут просить Вас ощутить 'горячую картошку' во рту, помолиться вокальному Богу или чего-то подобного. Цель любого приходящего к нам — научиться владеть своим голосом или инструментом. И мы отлично знаем своё дело. Если Вы делаете что-то не правильно, Вам так об этом и скажут. У нас не просто забегаловка, мы занимаемся серьёзно и ответственно, забудьте о музыкальных школах, которые вы видели до этого. John Kalligan's Music School — это то, какой должна быть  музыкальная школа.">
	<link rel="canonical" href="http://johnkalligan.ru/" />
	<link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
	<meta property="og:title" content="ГЛАВНАЯ | John Kalligan" />
	<meta property="og:url" content="http://johnkalligan.ru/" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="img/audioplayer/single-pic.jpg" />
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:400,600%7COswald:200,300,400%7CRoboto:400,500%7CTeko:300&display=swap"
		rel="stylesheet">
	
	<link rel="stylesheet" href="css/index10.css">
	<script src="js/libs.min.js"></script>
	<script src="js/audioplayer/audioplayer.js"></script>
	<script src="js/common.js"></script>
	<script src="js/schedule/addNote.js"></script>
	<script src="https://vk.com/js/api/share.js?93"></script>
</head>

<body>
	<script async defer crossorigin="anonymous"
		src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v4.0&appId=2278752125569654&autoLogAppEvents=1"></script>
	<!-- Header -->
	
	<header class="header">
		<div class="header-container">
			<a href="#"><img src="img/common/logo.png" alt="logo" class="header-logo"></a>
			<ul class="header-nav">
				<li><a href="index" class="header-nav__link active">Главная</a></li>
				<li><a href="teachers" class="header-nav__link">Преподаватели</a></li>
				<li><a href="prices" class="header-nav__link">Услуги/цены</a></li>
				<li><a href="order-song" class="header-nav__link">Заказ Песни</a></li>
				<li><a href="info" class="header-nav__link">Информация</a></li>
				<li><a href="contacts" class="header-nav__link">Контакты</a></li>
			</ul>
			<div class="header-socials socials">
				<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i
						class="fab fa-vk"></i></a>
				<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link"><i
						class="fab fa-youtube"></i></a>
				<a href="https://www.instagram.com/johnkalligan.official" target="_blank"
					class="header-socials__link socials__link"><i class="fab fa-instagram"></i></a>
				<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link"><i
						class="fab fa-twitter"></i></a>
			</div>
			<button class="header__side-menu-btn"></button>
		</div>
	</header> <!-- /Header -->
	<aside class="side-menu">
		<ul class="side-menu-nav">
			<li><a href="#" class="side-menu-nav__link active">Главная</a></li>
			<li><a href="teachers" class="side-menu-nav__link">Преподаватели</a></li>
			<li><a href="prices" class="side-menu-nav__link">Услуги/цены</a></li>
			<li><a href="order-song" class="side-menu-nav__link">Заказ Песни</a></li>
			<li><a href="info" class="side-menu-nav__link">Информация</a></li>
			<li><a href="contacts" class="side-menu-nav__link">Контакты</a></li>
		</ul>
		<div class="side-menu-socials socials">
			<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i
					class="fab fa-vk"></i></a>
			<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link"><i
					class="fab fa-youtube"></i></a>
			<a href="https://www.instagram.com/johnkalligan.official" target="_blank"
				class="header-socials__link socials__link"><i class="fab fa-instagram"></i></a>
			<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link"><i
					class="fab fa-twitter"></i></a>
		</div>
		<div class="side-menu__close"></div>
	</aside>
	<!-- Hero Section -->
	<section class="hero-section">
		<div class="container hero-section_container">
			<div class="hero-section__content-wrap">
				<h1 class="hero-section__title main-title">John Kalligan Music School</h1>
				<p class="hero-section__text section-head__text">Преподаватели этой школы не будут просить Вас ощутить "горячую
					картошку" во рту, помолиться вокальному Богу или чего-то подобного. Цель любого приходящего к нам — научиться
					владеть своим голосом или инструментом. И мы отлично знаем своё дело. Если Вы делаете что-то неправильно, Вам
					так об этом и скажут. <br> У нас не просто забегаловка, мы занимаемся серьёзно и ответственно, забудьте о
					музыкальных школах, которые вы видели до этого.<br>
					<span class="red">John Kalligan's Music School — это то, какой должна быть музыкальная школа.</span></p>
				<a href="teachers" class="hero-section__button button">Записаться на урок</a>
			</div>
			<a href="#" class="scroll-button" data-scroll=".team-section">&ensp;Scroll Down&nbsp;</a>
		</div>
	</section><!-- /Hero Section -->

	<section class="section team-section">
		<div class="container">
			<div class="section-head">
				<h2 class="section-head__title section-title">Команда преподавателей</h2>
			</div>
			<div class="team-section__gallery">
				<a href="teachers#john" target="_blank" class="team-section__gallery-item">
					<img src="img/teachers/teacher-photo1.jpg" alt="Team Photo">
					<div class="team-section__gallery-item-description">
						<h3 class="team-section__gallery-item-title small-title">John Kalligan</h3>
						<p class="team-section__gallery-item-text">
							Основатель школы. Я никогда не позиционировал себя как
							преподаватель, я учу актуальным техникам и максимально простым языком. Рассказываю то, с чем сталкивался
							я, как это решал. Я могу показать и изобразить всё, о чём рассказываю, в отличии от большинства "учителей".
							Я бы сравнил свою работу скорее с продюсерской.
						</p>
					</div>
				</a>
				<a href="teachers#alex" target="_blank" class="team-section__gallery-item team-section__gallery-item--offset">
					<img src="img/teachers/teacher-photo5.jpg" alt="Team Photo">
					<div class="team-section__gallery-item-description">
						<h3 class="team-section__gallery-item-title small-title">Александр Кобалия</h3>
						<p class="team-section__gallery-item-text">Вокалист/Сонграйтер. Начал заниматься вокалом и написанием музыки
							с 18 лет. Преподам тебе пару уроков как научится расщеплять и петь микстом. Считаю, что научиться петь
							может каждый - главное цель и правильный подход.
						</p>
					</div>
				</a>
				<a href="teachers#vlad" target="_blank" class="team-section__gallery-item team-section__gallery-item--offset">
					<img src="img/teachers/teacher-photo4.jpg" alt="Team Photo">
					<div class="team-section__gallery-item-description">
						<h3 class="team-section__gallery-item-title small-title">Влад Исаков</h3>
						<p class="team-section__gallery-item-text">
							Я автор-исполнитель и саундпродюссер. Основную часть своего
							времени я пишу, пою и продюсирую свои и сторонние проекты. Будучи действующим артистом, знаю как привести
							к этому и другого человека - научить петь, играть на инструменте, сочинять собственный материал.
							Не ограничиваюсь одним стилем, наиболее близкими для меня жанрами являются: альтернатива, инди и хип-хоп.
							Топлю за русскоязычную музыку, так как верю в её светлое будущее.
						</p>
					</div>
				</a>
				<a href="teachers#egor" target="_blank" class="team-section__gallery-item">
					<img src="img/teachers/teacher-photo2.jpg" alt="Team Photo">
					<div class="team-section__gallery-item-description">
						<h3 class="team-section__gallery-item-title small-title">Егор Куприянов</h3>
						<p class="team-section__gallery-item-text">
							Меня называют Мастером Души - я профессиональный актер. Родился в
							городе Ижевск. На фортепиано начал играть в третьем классе. За гитару взялся в 12 лет. Учился в колледже
							культуры на актера, работал на протяжении четырех лет в драматическом театре.
						</p>
					</div>
				</a>
				<a href="teachers#elizabeth" target="_blank" class="team-section__gallery-item team-section__gallery-item--offset">
					<img src="img/teachers/teacher-photo6.jpg" alt="Team Photo">
					<div class="team-section__gallery-item-description">
						<h3 class="team-section__gallery-item-title small-title">Елизавета Георг</h3>
						<p class="team-section__gallery-item-text">
							Когда ты поешь, ты должен понимать то, что делаешь. Я помогаю
							пройти через трудности и добиться результата, которого ты хочешь. 
							Преподаю различные приёмы современного эстрадного вокала, как мелизматика и twang. 
							В зависимости от целей, я могу помочь овладеть как простыми техническими навыками пения, 
							так и более продвинутыми.
						</p>
					</div>
				</a>
			</div>
		</div>
	</section>
	<!-- Videos Section -->
	<section class="section videos-section">
		<div class="videos-container">
			<div class="section-head">
				<h2 class="section-head__title section-title">Музыкальные видео</h2>
			</div>
			<div class="videos-section__gallery">
				<div class="videos-section__gallery-item video">
					<h4 class="videos-section__gallery-item-title video__title">John Kalligan - Лес(Acoustic)</h4>
					<img src="img/common/video1.png" alt="Video Preview">
					<a class="videos-section__gallery-item-inner video__inner"
						href="www.youtube.com/watch?v=XEpjfGIFNyo&list=PLhNsPPGFrZopkAMv5Y6K-7nu53cxs0xFQ&index=15" data-lity>
						<div class="videos-section__gallery-item-play video__play"></div>
					</a>
				</div>
				<div class="videos-section__gallery-item video">
					<h4 class="videos-section__gallery-item-title video__title">John Kalligan - Панихида(Live)</h4>
					<img src="img/common/video2.png" alt="Video Preview">
					<a href="www.youtube.com/watch?v=CHYkJH8IIaM&feature=youtu.be"
						class="videos-section__gallery-item-inner video__inner" data-lity>
						<div class="videos-section__gallery-item-play video__play"></div>
					</a>
				</div>
				<div class="videos-section__gallery-item video">
					<h4 class="videos-section__gallery-item-title video__title">John Kalligan – Walkin' Around (Acapella)</h4>
					<img src="img/common/video3.png" alt="Video Preview">
					<a class="videos-section__gallery-item-inner video__inner" href="www.youtube.com/watch?v=oLXcZuhOB2Q"
						data-lity>
						<div class="videos-section__gallery-item-play video__play"></div>
					</a>
				</div>
			</div>
		</div>
	</section> <!-- /Videos Section -->

	<!-- Single Section -->
	<section class="section single-section">
		<div class="container">
			<div class="section-head">
				<h2 class="section-head__title section-title">Макси-Cингл Say My Name</h2>
			</div>
			<!-- Audio Player -->
			<div class="audio-player ">
				<div class="audio-player__head">
					<img src="img/audioplayer/single-pic.jpg" alt="Single Picture" class="audio-player__pic">
					<div class="audio-player__info-wrap">
						<h5 class="audio-player__song-author">John Kalligan</h5>
						<h3 class="audio-player__song-name">Say My Name</h3>
						<h4 class="audio-player__single-name">Say My Name</h4>
					</div>
					<ul class="audio-player__share">
						<li>
							<a href="#"></a>
							<ul class="audio-player__share-socials">
								<li>
									<div data-href="http://johnkalligan.ru" data-size="small"><a target="_blank"
											href="https://www.facebook.com/sharer/sharer.php?u=https://www.johnkalligan.ru/"
											class="fb-xfbml-parse-ignore"><i class="fab fa-facebook-f"></i></a></div>
								</li>
								<li><a class="twitter-share-button"
										href="https://twitter.com/intent/tweet?url=http://johnkalligan.ru"><i
											class="fab fa-twitter"></i></a></li>
								<li><a id="vk_share_button" href="#"></a></li>
							</ul>
						</li>
					</ul>
					<a href="download-files/John-Kalligan-Say-my-Name.zip" download class="audio-player__download"></a>
				</div>
				<div class="audio-player__progress-bar">
					<div class="audio-player__controls">
						<div class="audio-player__prev"></div>
						<div class="audio-player__play"></div>
						<div class="audio-player__next"></div>
					</div>
					<div id="progress" class="audio-player__progress-slide"></div>
					<span class="audio-player__time-current">00:00/</span><span class="audio-player__time-total">03:20</span>
					<div class="audio-player__volume">
						<div id="volume" class="audio-player__volume-control"></div>
					</div>
				</div>
				<div id="songs-list" class="audio-player__list">

				</div>
			</div><!-- /Audio Player -->
		</div>
	</section><!-- /Single Section -->


	<!-- Footer -->
	<footer class="footer">
		<div class="container footer-container">
			<a href="#"><img src="img/common/logo.png" alt="logo" class="footer-logo"></a>
			<ul class="footer-nav">
				<li><a href="#" class="footer-nav__link active">Главная</a></li>
				<li><a href="teachers" class="footer-nav__link">Преподаватели</a></li>
				<li><a href="prices" class="footer-nav__link">услуги/цены</a></li>
				<li><a href="order-song" class="footer-nav__link">Заказ Песни</a></li>
				<li><a href="info" class="footer-nav__link">Информация</a></li>
				<li><a href="contacts" class="footer-nav__link">Контакты</a></li>
			</ul>
			<div class="footer__socials-wrap">
				<span class="footer__socials-subscribe">Подпишись на нас в соцсетях</span>
				<div class="footer-socials socials">
					<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i
							class="fab fa-vk"></i></a>
					<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link"><i
							class="fab fa-youtube"></i></a>
					<a href="https://www.instagram.com/johnkalligan.official" target="_blank"
						class="header-socials__link socials__link"><i class="fab fa-instagram"></i></a>
					<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link"><i
							class="fab fa-twitter"></i></a>
				</div>
			</div>
			<span class="footer__author">Developed and Designed by <a href="https://vk.com/makskuch" style="display: inline;"
					class="red">Max</a></span> <br>
			<span class="footer__copyright">©2020 ИП Каллиган Д.А.</span>
			<br>
			<span class="footer__copyright">ОГРНИП: 320527500079001</span>
		</div>
	</footer><!-- /Footer -->
	<script>
		document.getElementById('vk_share_button').innerHTML = VK.Share.button({ url: 'http://johnkalligan.ru', title: 'John Kalligan' }, { type: 'custom', text: '<i class="fab fa-vk"></i>' }); 
	</script>
</body>

</html>