<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#0A0B0C">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>John Kalligan Music School</title>   
	<meta name = "description" content = "Преподаватели этой школы не будут просить Вас ощутить 'горячую картошку' во рту, помолиться вокальному Богу или чего-то подобного. Цель любого приходящего к нам — научиться владеть своим голосом или инструментом. И мы отлично знаем своё дело. Если Вы делаете что-то не правильно, Вам так об этом и скажут. У нас не просто забегаловка, мы занимаемся серьёзно и ответственно, забудьте о музыкальных школах, которые вы видели до этого. John Kalligan's Music School — это то, какой должна быть  музыкальная школа.">
	<link rel="canonical" href="http://johnkalligan.ru/"/>
	<link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
	<link rel="manifest" href="manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="canonical" href="http://johnkalligan.ru/"/>
	<meta property="og:title" content="ИНФОРМАЦИЯ | John Kalligan"/>
	<meta property="og:url" content="http://johnkalligan.ru/"/>
	<meta property="og:site_name" content="ГЛАВНАЯ | John Kalligan"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="img/audioplayer/single-pic.jpg"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600%7COswald:200,300,400%7CRoboto:400,500%7CTeko:300&display=swap" rel="stylesheet">
	
<link rel="stylesheet" href="css/index10.css">
	<script src="js/libs.min.js"></script>
	<script src="js/popup.js"></script>
	<script src="js/common.js"></script>
</head>
<body>
	<!-- Header -->
	<header class="header">
		<div class="header-container">
			<a href="/"><img src="img/common/logo.png" alt="logo" class="header-logo"></a>
			<ul class="header-nav">
				<li><a href="/" class="header-nav__link">Главная</a></li>
				<li><a href="teachers" class="header-nav__link">Преподаватели</a></li>
				<li><a href="prices" class="header-nav__link">Услуги/цены</a></li>
				<li><a href="order-song" class="header-nav__link">Заказ Песни</a></li>
				<li><a href="info" class="header-nav__link active">Информация</a></li>
				<li><a href="contacts" class="header-nav__link">Контакты</a></li>
			</ul>
			<div class="header-socials socials">
				<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i class="fab fa-vk"></i></a>
				<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link"><i class="fab fa-youtube"></i></a>
				<a href="https://www.instagram.com/johnkalligan.official" target="_blank" class="header-socials__link socials__link"><i class="fab fa-instagram"></i></a>
				<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link"><i class="fab fa-twitter"></i></a>
			</div>
			<button class="header__side-menu-btn"></button>
		</div>
	</header> <!-- /Header -->
	<aside class="side-menu">
		<ul class="side-menu-nav">
			<li><a href="/" class="side-menu-nav__link">Главная</a></li> 
			<li><a href="teachers" class="side-menu-nav__link">Преподаватели</a></li>
			<li><a href="prices" class="side-menu-nav__link">Услуги/цены</a></li>
			<li><a href="order-song" class="side-menu-nav__link">Заказ Песни</a></li>
			<li><a href="info" class="side-menu-nav__link active">Информация</a></li>
			<li><a href="contacts" class="side-menu-nav__link">Контакты</a></li>
		</ul>
		<div class="side-menu-socials socials">
			<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i class="fab fa-vk"></i></a>
			<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link"><i class="fab fa-youtube"></i></a>
			<a href="https://www.instagram.com/johnkalligan.official" target="_blank" class="header-socials__link socials__link"><i class="fab fa-instagram"></i></a>
				<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link"><i class="fab fa-twitter"></i></a>
		</div>
		<div class="side-menu__close"></div>
    </aside>

    <section class="section info-section">
        <div class="container info-section__container">
            <div class="section-head">
                <h2 class="section-title">John Kalligans Music School</h2>
            </div>
            <h2 class="info-section__title">Информация по занятиям. Читать обязательно!</h2>
            <div class="info-section-row">
                <div class="info-section__faq">
                    <div class="info-section__faq-title small-title">Краткий FAQ:</div>
                    <ol class="info-section__list">
                        <li>Внимательно читаете всю информацию.</li>
												<li>Выбираете <a href="teachers" target="_blank" style="display: inline;" class="red underline">преподавателя</a> и находите свободное время.</li>
												<li><strong style="text-transform: uppercase;" class="red">Обратите внимание, что выбирать время нужно относительно МСК и на протяжении года время в России не переводится!!!</strong></li>
                        <li>
													<span style="cursor: pointer;" class="red underline popup-btn" data-popup="#pay">
														Оплачиваете занятие.
													</span>
												</li>
                        <li>И договариваетесь о занятии с <a style="display: inline;" href="https://vk.com/emmagilman" target="_blank" class="red underline">администратором.</a></li>
                        <li>Добавляетесь в skype к преподавателю.</li>
                        <li>Занимаетесь.</li>
                    </ol>
                    <span class="info-section__faq-addition">P.S. На счёт всех вопросов и покупки абонемента обращайтесь к <a style="display: inline;" href="https://vk.com/emmagilman" target="_blank" class="red underline"> Эмме.</a></span>
                </div>
                <div class="info-section__quote">
                    <p class="info-section__quote-text">Я пашу как трактор, и я люблю работать. А вот если я прохлаждаюсь без дела, то начинаю дико скучать и лениться, и начинаю бухать.</p>
                    <h5 class="info-section__quote-author">Ozzy Osbourne</h5>
                </div>
			</div>
			<div class="info-section-row">
                <div class="info-section__item">
                    <div class="info-section__faq-title small-title">Оплата</div>
					<p class="info-section__text">Прайс-лист смотрите <a href="prices" target="_blank" style="display: inline;" class="red underline">здесь</a>.</p>
					<p class="info-section__text">Если ты не знаешь свой уровень и что конкретно нужно, то первое занятие идёт по цене уровня beginner. На этом занятии мы вместе смотрим твой уровень по конкретной дисциплине и подбираем оптимальный путь развития . Ты можешь купить "абонемент" на несколько занятий вперёд (минимум 4). Абонемент бессрочен, по-сути это просто оптовая покупка. На неё предоставляется скидка в 10%.</p>
					<p class="info-section__text">Люди купившие абонемент имеют некоторые привилегии: меньшая цена, возможность проставить занятия в графике хоть на пол года вперёд, помощь вне занятий и т.п. Плата производится строго до занятия. Ведь ты меня знаешь, я тебя - нет.</p>
                </div>
                <div class="info-section__quote">
                    <p class="info-section__quote-text">Одна часть меня постоянно переживает, что я обычный неудачник, в то время как другая мнит себя Господом Богом.</p>
                    <h5 class="info-section__quote-author">John Lennon</h5>
                </div>
			</div>
			<div class="info-section-row">
                <div class="info-section__item">
                    <div class="info-section__faq-title small-title">Длительность</div>
					<p class="info-section__text">Я никогда не говорю "твои 45 минут закончились - уходи". Поэтому всё зависит от проходимой темы, сложности материала и насколько быстро будешь схватывать. Бывает за 30 минут проходим, а бывает 1,5 часа сидим. В среднем 40-50 минут. Смысл в усвоении материала, который я тебе буду давать. В график занятия ставятся по 60 минут, на всякий случай, чтобы при необходимости я мог ответить на все вопросы. </p>
                </div>
                <div class="info-section__quote">
                    <p class="info-section__quote-text">Успех - это когда ты девять раз упал, но десять раз поднялся.</p>
                    <h5 class="info-section__quote-author">Jon Bon Jovi</h5>
                </div>
			</div>
			<div class="info-section-row">
                <div class="info-section__item">
                    <div class="info-section__faq-title small-title">Преподаватели</div> 
					<p class="info-section__text">У меня есть небольшой <a href="teachers" target="_blank" style="display: inline;" class="red underline">штат преподавателей</a>. Я отобрал их сам, делал это тщательно и очень осторожно. Все они пришли ко мне уже с отличным, профессиональным уровнем. С ними мы поработали только с методологией преподавания, им я передал свои наработки и опыт. Все преподаватели с которыми я работаю, имеют навык ничуть не ниже моего, а в каких-то моментах и выше!</p>
					<p class="info-section__text">Если я берусь работать с каким-либо человеком, то будьте уверены, что этот человек и вас не подведёт. Занятие к любому из преподавателей ставятся также, через помощницу, <a href="https://vk.com/emmagilman" target="_blank" style="display: inline;" class="red underline">Emma Gilman</a>.</p>
                </div>
                <div class="info-section__quote">
                    <p class="info-section__quote-text">Для того, чтобы вас запомнили, необходимо эпатировать общество, бросать ему вызов, но при этом не забывать и о музыке.</p>
                    <h5 class="info-section__quote-author">Freddie Mercury</h5>
                </div>
			</div>
			<div class="info-section-row">
                <div class="info-section__item">
                    <div class="info-section__faq-title small-title">График</div>
					<p class="info-section__text">Внизу описания каждого <a href="teachers" target="_blank" style="display: inline;" class="red underline">преподавателя</a>  есть кнопка "ГРАФИК ПРЕПОДАВАТЕЛЯ".</p>
					<p class="info-section__text">Откроется Google Calendar, мы советуем Вам перевести его в режим отображения "неделя". Обратите внимание, у некоторых преподавателей есть лимит занятий в день. Это указано в описании преподавателя.</p>
					<p class="info-section__text">Все вопросы о графике, оплате, переносе и т.п. к моей <a href="https://vk.com/emmagilman" target="_blank" style="display: inline;" class="red underline">помощнице</a> в вк. Она с радостью ответит на все ваши вопросы и поможет поставить занятие.</p>
					<p class="info-section__text"><b>ПЕРЕНОС: КАК МИНИМУМ ЗА 24 ЧАСА ДО ЗАНЯТИЯ!</b> В противном случае деньги не возвращаются. Просьба отнестись с пониманием.</p>
				</div>
                <div class="info-section__quote">
                    <p class="info-section__quote-text">Никто не умрет девственником. Жизнь всех поимеет.</p>
                    <h5 class="info-section__quote-author">Kurt Cobain</h5>
                </div>
			</div>
			<div class="info-section-row">
				<div class="info-section__item info-section__item--john-quote">
					<p class="info-section__quote-text info-section__quote-text--john-quote">Я никогда не позиционировал себя как преподаватель, я учу актуальным техникам и максимально простым языком. Рассказываю, то с чем сталкивался я, как это решал. Я могу показать и изобразить всё о чём рассказываю, в отличии от большинства "учителей". Я бы сравнил свою работу скорее с продюсерской. Часто работаю с группами, помогаю писать и аранжировать музыку. Вместе находим нужное звучание и манеру подачи.
						Я - практик. Основная моя деятельность - это концерты, студийная запись, сочинение музыки и т.д. Всё что я рассказываю имеет под собой огромный опыт и массу труда.
						Ошибочно полагать, что заплатив, я научу тебя всему, что угодно. 95% всего прогресса лежит на твоих плечах, именно ты должен стараться, следовать моим советам, тогда всё получится и ты останешься доволен. Я буду именно наставлять, направлять в нужную сторону. А ты должен будешь сам, своими ногами пройти весь путь.</p>
						<h5 class="info-section__quote-author">John Kalligan</h5>
				</div>
			</div>
			<a id="details"></a>
			<div class="info-section-row">
				<div class="info-section__item info-section__item--width">
					<h5 class="info-section__faq-title small-title">
						Возврат денег:
					</h5>
					<p class="info-section__faq-desc">Процент возврата рассчитывается исходя из срока отмены оных</p>
					<ol class="info-section__list info-section__list--payment">
						<li>За месяц до занятий - 100%.</li>
						<li>Меньше месяца, но более недели до начала - 85%</li>
						<li>Меньше, чем за неделю - 65%</li>
					</ol>
				</div>
			</div>
		</div>
    </section> 
    <!-- Footer Section-->
    <footer class="footer">
        <div class="container footer-container">
            <a href="/"><img src="img/common/logo.png" alt="logo" class="footer-logo"></a>
            <ul class="footer-nav">
                <li><a href="/" class="footer-nav__link">Главная</a></li> 
                <li><a href="teachers" class="footer-nav__link">Преподаватели</a></li>
				<li><a href="prices" class="footer-nav__link">Услуги/цены</a></li>
				<li><a href="order-song" class="footer-nav__link">Заказ Песни</a></li>
				<li><a href="info" class="footer-nav__link active">Информация</a></li>
                <li><a href="contacts" class="footer-nav__link">Контакты</a></li>
            </ul>
            <div class="footer__socials-wrap">
                <span class="footer__socials-subscribe">Подпишись на нас в соцсетях</span>
                <div class="footer-socials socials">
					<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i class="fab fa-vk"></i></a>
					<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link"><i class="fab fa-youtube"></i></a>
					<a href="https://www.instagram.com/johnkalligan.official" target="_blank" class="header-socials__link socials__link"><i class="fab fa-instagram"></i></a>
					<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <span class="footer__author">Developed and Designed by <a href="https://vk.com/makskuch" style="display: inline;" class="red">Max</a></span> <br>
            <span class="footer__copyright">©2020 ИП Каллиган Д.А.</span>
			<br>
			<span class="footer__copyright">ОГРНИП: 320527500079001</span>
        </div>
		</footer><!-- /Footer -->
		<div id="pay" class="popup">
			<div class="popup__inner">
				<!-- <input class="datepicker__input input" type="text" placeholder="День занятия"
					id="john-datepicker"></input> -->
				<form class="tinkoffPayForm" name="TinkoffPayForm" onsubmit="
						const Email = this.querySelector(`input[name='email']`).value
						const Phone = this.querySelector(`input[name='phone']`).value
						const Price = +this.querySelector(`input[name='amount']`).value * 100
						this.querySelector(`input[name='receipt']`).value = JSON.stringify({
							Email,
							Phone,
							EmailCompany: 'inkalian@yandex.ru',
							Taxation: 'usn_income',
							Items: [{
								Name: 'Онлайн занятие',
								Price,
								Quantity: 1.00,
								Amount: ''+Price,
								PaymentObject: 'service',
								Tax: 'none'
							}]
						});
						pay(this); 
						return false;"
					>
					<input class="tinkoffPayRow input" type="hidden" name="terminalkey" value="terminalkey">
					<input class="tinkoffPayRow" type="hidden" name="receipt" value="">
					<input class="tinkoffPayRow input" type="hidden" name="frame" value="true">
					<input class="tinkoffPayRow input" type="hidden" name="language" value="ru">
					<input class="tinkoffPayRow input" type="text" placeholder="Сумма заказа" name="amount">
					<input class="tinkoffPayRow input" type="hidden" placeholder="Номер заказа" name="order">
					<input class="tinkoffPayRow input" type="hidden" placeholder="Описание заказа" name="description">
					<input class="tinkoffPayRow input" type="text" placeholder="ФИО плательщика" name="name">
					<input class="tinkoffPayRow input" type="text" placeholder="E-mail" name="email">
					<input class="tinkoffPayRow input" type="text" placeholder="Контактный телефон" name="phone">
					<input class="tinkoffPayRow submit-button button--pay" type="submit" value="Оплатить">
				</form>
				<div id="tinkoffWidgetContainer"></div>
				<script type="text/javascript">
					const terminalkey = document.forms.TinkoffPayForm.terminalkey
					const widgetParameters = {
						container: 'tinkoffWidgetContainer',
						terminalKey: terminalkey.value,
						paymentSystems: {
							ApplePay: {
								buttonOptions: {
									lang: "ru",
									color: "white"
								},
								paymentInfo: function () {
									return {
										infoEmail: "inkalian@yandex.ru",
										paymentData: document.forms.TinkoffPayForm
									}
								}
							},
						},
					};
					window.addEventListener('load', function () {
						initPayments(widgetParameters);
					});
				</script>
				<div class="lesson-signup__socials">
					<div class="socials socials--centered">
						<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link">
							<i class="fab fa-vk"></i>
						</a>
						<a href="https://t.me/emmagilman" target="_blank" class="header-socials__link socials__link">
							<i class="fab fa-telegram-plane"></i>
						</a>
						<a href="https://wa.me/79991207708" target="_blank" class="header-socials__link socials__link">
							<i class="fab fa-whatsapp"></i>
						</a>
						<a href="https://www.instagram.com/johnkalligan.official" target="_blank"
							class="header-socials__link socials__link">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>
				<button class="popup__close"></button>
			</div>
		</div>
</body>
<script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js"></script>
</html>