<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#0A0B0C">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>John Kalligan Music School</title>   
	<meta name = "description" content = "Преподаватели этой школы не будут просить Вас ощутить 'горячую картошку' во рту, помолиться вокальному Богу или чего-то подобного. Цель любого приходящего к нам — научиться владеть своим голосом или инструментом. И мы отлично знаем своё дело. Если Вы делаете что-то не правильно, Вам так об этом и скажут. У нас не просто забегаловка, мы занимаемся серьёзно и ответственно, забудьте о музыкальных школах, которые вы видели до этого. John Kalligan's Music School — это то, какой должна быть  музыкальная школа.">
	<link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="canonical" href="http://johnkalligan.ru/"/>
	<meta property="og:title" content="ORDER SONG | John Kalligan"/>
	<meta property="og:url" content="http://johnkalligan.ru/"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="img/audioplayer/single-pic.jpg"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600%7COswald:200,300,400%7CRoboto:400,500%7CTeko:300&display=swap" rel="stylesheet">
	
<link rel="stylesheet" href="css/index10.css">
	<script src="js/libs.min.js"></script>
	<script src="js/audioplayer/audioplayer_order-song.js"></script>
	<script src="js/audioplayer/audioplayer_demo.js"></script>
	<script src="js/audioplayer/audioplayer_fin.js"></script>
	<script src="js/audioplayer/audioplayer_fin2.js"></script>
	<script src="js/audioplayer/audioplayer_winds.js"></script>
	<script src="js/audioplayer/audioplayer_vocals.js"></script>
	<script src="js/common.js"></script>
</head>
<body>
	<!-- Header -->
	<header class="header">
		<div class="header-container">
			<a href="/"><img src="img/common/logo.png" alt="logo" class="header-logo"></a>
			<ul class="header-nav">
				<li><a href="/" class="header-nav__link">Главная</a></li>	 
				<li><a href="teachers" class="header-nav__link">Преподаватели</a></li>
				<li><a href="prices" class="header-nav__link">Услуги/цены</a></li>
				<li><a href="#" class="header-nav__link active">Заказ Песни</a></li>
				<li><a href="info" class="header-nav__link">Информация</a></li>
				<li><a href="contacts" class="header-nav__link">Контакты</a></li> 
			</ul>
			<div class="header-socials socials">
				<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i class="fab fa-vk"></i></a>
				<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link"><i class="fab fa-youtube"></i></a>
				<a href="https://www.instagram.com/johnkalligan.official" target="_blank" class="header-socials__link socials__link"><i class="fab fa-instagram"></i></a>
				<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link"><i class="fab fa-twitter"></i></a>
			</div>
			<button class="header__side-menu-btn"></button>
		</div>
	</header> <!-- /Header -->
	<aside class="side-menu">
		<ul class="side-menu-nav">
			<li><a href="/" class="side-menu-nav__link">Главная</a></li> 
			<li><a href="teachers" class="side-menu-nav__link">Преподаватели</a></li>
			<li><a href="prices" class="side-menu-nav__link">Услуги/цены</a></li>
			<li><a href="order-song" class="side-menu-nav__link active">Заказ Песни</a></li>
			<li><a href="info" class="side-menu-nav__link">Информация</a></li>
			<li><a href="contacts" class="side-menu-nav__link">Контакты</a></li>
		</ul>
		<div class="side-menu-socials socials">
			<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i class="fab fa-vk"></i></a>
			<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link"><i class="fab fa-youtube"></i></a>
			<a href="https://www.instagram.com/johnkalligan.official" target="_blank" class="header-socials__link socials__link"><i class="fab fa-instagram"></i></a>
				<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link"><i class="fab fa-twitter"></i></a>
		</div>
		<div class="side-menu__close"></div>
    </aside>
    <!-- Order Song Section -->
    <section class="section order-song-section">
        <div class="container">
            <div class="section-head">
                <div class="section-title">Заказ песни</div>
                <div class="section-head__text">
                    Я профессионально занимаюсь написанием и продюсированием песен. Работаю практически во всех жанрах.
                </div>                
			</div>
			<div class="info-section-row info-section-row_center">
				<div class="info-section__faq-title info-section__faq-title_center small-title">Примеры</div>
				<!-- Audio Player -->
				<div id="audioplayer_exmp" class="audio-player work-examples__audioplayer">
					<div class="audio-player__head">
						<div class="audio-player__info-wrap">
							<h5 id="song-author_exmp" class="audio-player__song-author">John Kalligan</h5>
							<h3 id="song-name_exmp" class="audio-player__song-name">Микстейп</h3>
						</div>
					</div>
					<div class="audio-player__progress-bar">
						<div class="audio-player__controls">
							<div id = "prev_exmp" class="audio-player__prev"></div>
							<div id="play_exmp" class="audio-player__play"></div>
							<div id = "next_exmp" class="audio-player__next"></div>
						</div>
						<div id="progress_exmp" class="audio-player__progress-slide"></div>
						<span id="time-current_exmp" class="audio-player__time-current">00:00/</span><span id="time-total_exmp" class="audio-player__time-total">01:52</span>
						<div class="audio-player__volume">
							<div id="volume_exmp" class="audio-player__volume-control"></div>
						</div>
					</div>
					<div id="songs-list_exmp" class="audio-player__list">
						
					</div>
				</div><!-- /Audio Player -->
			</div>
			<div class="info-section-row info-section-row_center">
				<div class="info-section__faq">
					<div class="info-section__faq-title info-section__faq-title_center small-title">Работа происходит по такому сценарию:</div>
					<ol class="info-section__list info-section__list_red-nums">
						<li>Скидываете все исходные данные, которые у вас есть (демо на телефон, наброски текста на бумаге, что угодно)</li>
						<li>Подробно описываете, что вы хотите в итоге, в каком стиле, какие инструменты, какие сроки и т.п.</li>
						<li>Договариваемся о цене (сильно зависит от сроков).</li>
						<li>Оплата в объёме 50%</li>
						<li>Я запускаю проект в работу, после каждого ответственного шага скидываю промежуточный вариант и вносим правки.</li>
						<li>Когда финальная версия подтверждена, производится оплата оставшейся части (50%) и я высылаю все нужные материалы.</li>
					</ol>
				</div>
			</div>
			<div class="info-section-row info-section-row_center">
				<div class="info-section__faq">
					<div class="info-section__faq-title info-section__faq-title_center small-title">Давайте рассмотрим на простейшем примере</div>
					<ul class="info-section__list info-section__list_red-dots">
						<li>Пишет девушка с запросом на сочинение песни с нуля.</li>
						<li>После короткого звонка в скайпе, выясняем, что нужно сочинить песню с аранжировкой на фортепиано.
							Плюс к этому написать красивую, но не сложную вокальную мелодию, так как девушка ещё не профессионал в вокале.
							К тому же, сочинить текст песни, лирично-драматичный (душевный) о сильной женщине.</li>
						<li>Даю ценник в 8.000 рублей и срок около месяца. Девушка делает предоплату и я запускаю проект в работу.</li>
						<li>Делаю несколько пробных вариантов, останавливаюсь на одном из них, записываю на диктофон и скидываю девушке.
							<!-- Audio Player -->
							<div id="audioplayer_demo" class="audio-player audio-player_mini">
								<div class="audio-player__head">
									<div class="audio-player__info-wrap">
										<h3 id="song-name_demo" class="audio-player__song-name">Демо с телефона</h3>
									</div>
								</div>
								<div class="audio-player__progress-bar">
									<div class="audio-player__controls">
										<div id="play_demo" class="audio-player__play audio-player__play_mini"></div>
									</div>
									<div id="progress_demo" class="audio-player__progress-slide"></div>
									<span id="time-current_demo" class="audio-player__time-current">00:00/</span><span id="time-total_demo" class="audio-player__time-total">00:18</span>
									<div class="audio-player__volume">
										<div id="volume_demo" class="audio-player__volume-control"></div>
									</div>
								</div>
							</div><!-- /Audio Player -->
						</li>
						<li>Вношу определённые коррективы, записываю чистовое ф-но и дописываю текст. Скидываю финальную версию.
							<!-- Audio Player -->
							<div id="audioplayer_fin" class="audio-player audio-player_mini">
								<div class="audio-player__head">
									<div class="audio-player__info-wrap">
										<h3 id="song-name_fin" class="audio-player__song-name">Финал ветра-проблемы</h3>
									</div>
								</div>
								<div class="audio-player__progress-bar">
									<div class="audio-player__controls">
										<div id="play_fin" class="audio-player__play audio-player__play_mini"></div>
									</div>
									<div id="progress_fin" class="audio-player__progress-slide"></div>
									<span id="time-current_fin" class="audio-player__time-current">00:00/</span><span id="time-total_fin" class="audio-player__time-total">01:09</span>
									<div class="audio-player__volume">
										<div id="volume_fin" class="audio-player__volume-control"></div>
									</div>
								</div>
							</div><!-- /Audio Player -->
						</li>
						<li>Девушке всё нравится, она оплачивает оставшиеся 50%. И я высылаю минус песни +версию спетую мной, чтобы
							было проще ориентироваться по вокальной линии, понимать фразировку и интонацию.</li>
						<li>Для девушки оказывается высоковата тональность. Я понижаю на -3 полутона в ля минор и скидываю исправленную версию.
							<!-- Audio Player -->
							<div id="audioplayer_fin2" class="audio-player audio-player_mini">
								<div class="audio-player__head">
									<div class="audio-player__info-wrap">
										<h3 id="song-name_fin2" class="audio-player__song-name">Финал ветра-проблемы 2</h3>
									</div>
								</div>
								<div class="audio-player__progress-bar">
									<div class="audio-player__controls">
										<div id="play_fin2" class="audio-player__play audio-player__play_mini"></div>
									</div>
									<div id="progress_fin2" class="audio-player__progress-slide"></div>
									<span id="time-current_fin2" class="audio-player__time-current">00:00/</span><span id="time-total_fin2" class="audio-player__time-total">00:26</span>
									<div class="audio-player__volume">
										<div id="volume_fin2" class="audio-player__volume-control"></div>
									</div>
								</div>
							</div><!-- /Audio Player -->
						</li>
						<li>Готово! 8.000 рублей = полностью с нуля написанная песня с текстом и вокальной мелодией + минус с фортепиано.
							9го декабря была внесена предоплата, 24го декабря песня была полостью готова.
							<!-- Audio Player -->
							<div id="audioplayer_winds" class="audio-player audio-player_mini">
								<div class="audio-player__head">
									<div class="audio-player__info-wrap">
										<h3 id="song-name_winds" class="audio-player__song-name">Надя Минустина – Ветра-Проблемы (с моим вокалом)</h3>
									</div>
								</div>
								<div class="audio-player__progress-bar">
									<div class="audio-player__controls">
										<div id="play_winds" class="audio-player__play audio-player__play_mini"></div>
									</div>
									<div id="progress_winds" class="audio-player__progress-slide"></div>
									<span id="time-current_winds" class="audio-player__time-current">00:00/</span><span id="time-total_winds" class="audio-player__time-total">04:51</span>
									<div class="audio-player__volume">
										<div id="volume_winds" class="audio-player__volume-control"></div>
									</div>
								</div>
							</div>
							<!-- /Audio Player -->
						</li>
					</ul>
					<div class="dropdown-lyrics">
						<button id="dropdown-lyrics_winds" class="red underline bold dropdown-lyrics__btn">Показать текст песни</button>
						<pre class="dropdown-lyrics__lyrics">
<span class="red bold">Пре-припев</span>
Болью мне начертаны дороги жизни
Но я душой из рек Парижа ведь

<span class="red bold">Припев</span>
Кружат ветра-проблемы
Гонят мысли вдаль
Но я сильнее ветра
У меня своя мораль

<span class="red bold">Куплет 1</span>
В заплатках вся душа
И ниток уже нет
Ни одного гроша
Чужого нет во мне
Я стану сильной вновь
Ведь тлеет в глубине
Огромная любовь
К себе

<span class="red bold">Пре-припев</span>
Болью мне начертаны дороги жизни
Но я душой из рек Парижа ведь

<span class="red bold">Припев</span>
Кружат ветра-проблемы
Гонят мысли вдаль
Но я сильнее ветра
У меня своя мораль

<span class="red bold">Куплет 2</span>
Проносятся года
Не слабнет во мне память
Урок мне навсегда
Не падать

<span class="red bold">Пре-припев</span>
Болью мне начертаны дороги жизни
Но я душой из рек Парижа ведь

<span class="red bold">Припев</span>
Кружат ветра-проблемы
Гонят мысли вдаль
Но я сильнее ветра
У меня своя мораль
						</pre>
					</div>
				</div>
			</div>
			<div class="info-section-row info-section-row_center">
				<div class="info-section__faq">
					<div class="info-section__faq-title info-section__faq-title_center small-title"></div>
					<p class="info-section__text">Конечно же, материал бывает разный. Запросы и проблемы у всех разные, поэтому цена, сроки, схема работы может
						быть индивидуальной. Вы, например, можете заказать чисто продюсирование вокала в ваш трек. 
						Бывает, что в припеве ваш голос звучит недостаточно плотно и мясисто. Тогда зачастую нужно прописать "пачку".
						Например как мы это сделали здесь:
					</p>
					<!-- Audio Player -->
					<div id="audioplayer_vocals" class="audio-player audio-player_mini">
						<div class="audio-player__head">
							<div class="audio-player__info-wrap">
								<h3 id="song-name_vocals" class="audio-player__song-name">Вокал в far away до-после</h3>
							</div>
						</div>
						<div class="audio-player__progress-bar">
							<div class="audio-player__controls">
								<div id="play_vocals" class="audio-player__play audio-player__play_mini"></div>
							</div>
							<div id="progress_vocals" class="audio-player__progress-slide"></div>
							<span id="time-current_vocals" class="audio-player__time-current">00:00/</span><span id="time-total_vocals" class="audio-player__time-total">00:43</span>
							<div class="audio-player__volume">
								<div id="volume_vocals" class="audio-player__volume-control"></div>
							</div>
						</div>
					</div>
					<!-- /Audio Player -->
					<p class="info-section__text">Можете обращаться и с такими запросами. Также я помогу найти хороших сессионных музыкантов, звукорежиссёров,
						операторов и вообще кого угодно. Где-то, если мы с вами работаем комплексно, смогу выбить хорошую скидку.
						Пишите мне или моей помощнице с пометкой "ЗАКАЗ ПЕСНИ", "ПРОДЮСИРОВАНИЕ", "АРАНЖИРОВКА". <br>
						<a href="mailto:showinki@gmail.com" target="_blank" class="red underline" style="display: inline;">showinki@gmail.com</a>,  <a href="https://vk.com/john.kalligan" target="_blank" class="red underline" style="display: inline;">https://vk.com/john.kalligan</a>, <a href=" https://t.me/johnkalligan" target="_blank" class="red underline" style="display: inline;"> https://t.me/johnkalligan</a>, <a href="https://vk.com/emmagilman" target="_blank" class="red underline" style="display: inline;">https://vk.com/emmagilman</a>
					</p>			
				</div>
			</div>
		</div>
    </section>
    <!-- Footer Section-->
    <footer class="footer">
		<div class="container footer-container">
			<a href="/"><img src="img/common/logo.png" alt="logo" class="footer-logo"></a>
			<ul class="footer-nav">
				<li><a href="/" class="footer-nav__link">Главная</a></li>
				<li><a href="teachers" class="footer-nav__link">Преподаватели</a></li>
				<li><a href="prices" class="footer-nav__link">услуги/цены</a></li>
				<li><a href="#" class="footer-nav__link active">Заказ Песни</a></li>
				<li><a href="info" class="footer-nav__link">Информация</a></li>
				<li><a href="contacts" class="footer-nav__link">Контакты</a></li>
			</ul>
			<div class="footer__socials-wrap">
				<span class="footer__socials-subscribe">Подпишись на нас в соцсетях</span>
				<div class="footer-socials socials">
					<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i class="fab fa-vk"></i></a>
					<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link"><i class="fab fa-youtube"></i></a>
					<a href="https://www.instagram.com/johnkalligan.official" target="_blank" class="header-socials__link socials__link"><i class="fab fa-instagram"></i></a>
					<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link"><i class="fab fa-twitter"></i></a>
				</div>
			</div>
			<span class="footer__author">Developed and Designed by <a href="https://vk.com/makskuch" style="display: inline;" class="red">Max</a></span> <br>
			<span class="footer__copyright">©2020 ИП Каллиган Д.А.</span>
			<br>
			<span class="footer__copyright">ОГРНИП: 320527500079001</span>
		</div>
	</footer><!-- /Footer -->
</body>
</html>