<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#0A0B0C">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>John Kalligan Music School</title>
	<meta name="description"
		content="Преподаватели этой школы не будут просить Вас ощутить 'горячую картошку' во рту, помолиться вокальному Богу или чего-то подобного. Цель любого приходящего к нам — научиться владеть своим голосом или инструментом. И мы отлично знаем своё дело. Если Вы делаете что-то не правильно, Вам так об этом и скажут. У нас не просто забегаловка, мы занимаемся серьёзно и ответственно, забудьте о музыкальных школах, которые вы видели до этого. John Kalligan's Music School — это то, какой должна быть  музыкальная школа.">
	<link rel="canonical" href="http://johnkalligan.ru/" />
	<link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="canonical" href="http://johnkalligan.ru/" />
	<meta property="og:title" content="услуги/цены | John Kalligan" />
	<meta property="og:url" content="http://johnkalligan.ru/" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="img/audioplayer/single-pic.jpg" />
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:400,600%7COswald:200,300,400%7CRoboto:400,500%7CTeko:300&display=swap"
		rel="stylesheet">
	
<link rel="stylesheet" href="css/index10.css">
	<script src="js/libs.min.js"></script>
	<script src="js/masonry.js"></script>
	<script src="js/common.js"></script>
	<script src="js/alert.js"></script>
</head>

<body>
	<!-- Header -->
	<header class="header">
		<div class="header-container">
			<a href="/"><img src="img/common/logo.png" alt="logo" class="header-logo"></a>
			<ul class="header-nav">
				<li><a href="/" class="header-nav__link">Главная</a></li>
				<li><a href="teachers" class="header-nav__link">Преподаватели</a></li>
				<li><a href="prices" class="header-nav__link active">Услуги/цены</a></li>
				<li><a href="order-song" class="header-nav__link">Заказ Песни</a></li>
				<li><a href="info" class="header-nav__link">Информация</a></li>
				<li><a href="contacts" class="header-nav__link">Контакты</a></li>
			</ul>
			<div class="header-socials socials">
				<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i
						class="fab fa-vk"></i></a>
				<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link"><i
						class="fab fa-youtube"></i></a>
				<a href="https://www.instagram.com/johnkalligan.official" target="_blank" class="header-socials__link socials__link"><i
						class="fab fa-instagram"></i></a>
				<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link"><i
						class="fab fa-twitter"></i></a>
			</div>
			<button class="header__side-menu-btn"></button>
		</div>
	</header> <!-- /Header -->
	<aside class="side-menu">
		<ul class="side-menu-nav">
			<li><a href="/" class="side-menu-nav__link">Главная</a></li>
			<li><a href="teachers" class="side-menu-nav__link">Преподаватели</a></li>
			<li><a href="prices" class="side-menu-nav__link active">Услуги/цены</a></li>
			<li><a href="order-song" class="side-menu-nav__link">Заказ Песни</a></li>
			<li><a href="info" class="side-menu-nav__link">Информация</a></li>
			<li><a href="contacts" class="side-menu-nav__link">Контакты</a></li>
		</ul>
		<div class="side-menu-socials socials">
			<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i class="fab fa-vk"></i></a>
			<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link"><i
					class="fab fa-youtube"></i></a>
			<a href="https://www.instagram.com/johnkalligan.official" target="_blank" class="header-socials__link socials__link"><i
					class="fab fa-instagram"></i></a>
			<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link"><i
					class="fab fa-twitter"></i></a>
		</div>
		<div class="side-menu__close"></div>
	</aside>

	<section class="section prices-section">
		<div class="container">
			<div class="section-head">
				<h2 class="section-title">John Kalligans Music School</h2>
				<p class="section-head__addition">У педагогов разные цены! Подробности на странице <a href="teachers"
						target="_blank">преподавателей</a></p>
			</div>
			<div class="teachers-grid">
				<div class="teachers-grid__sizer"></div>
				<a href="/choose-service/john" class="teachers-grid__item">
							<img src="img/teachers/teacher-photo1.jpg" class="teachers-grid__img" alt="John Kalligan">
						<div class="teachers-grid__item-description">
							<h3 class="teachers-grid__item-title small-title">Джон Каллиган</h3>
							<p class="teachers-grid__item-text">
								Основатель школы. Я никогда не позиционировал себя как
								преподаватель, я учу актуальным техникам и максимально простым языком. Рассказываю то, с чем сталкивался
								я, как это решал. Я могу показать и изобразить всё, о чём рассказываю, в отличии от большинства "учителей".
								Я бы сравнил свою работу скорее с продюсерской.
							</p>
						</div>
				</a>
				<a href="/choose-service/lex" class="teachers-grid__item">
					<img src="img/teachers/teacher-photo5.jpg"  class="teachers-grid__img" alt="Lex">
					<div class="teachers-grid__item-description">
						<h3 class="teachers-grid__item-title small-title">Александр Кобалия</h3>
						<p class="teachers-grid__item-text">Вокалист/Сонграйтер. Начал заниматься вокалом и написанием музыки
							с 18 лет. Преподам тебе пару уроков как научится расщеплять и петь микстом. Считаю, что научиться петь
							может каждый - главное цель и правильный подход.
						</p>
					</div>
				</a>
				<a href="/choose-service/vlad" class="teachers-grid__item">
					<img src="img/teachers/teacher-photo4.jpg"  class="teachers-grid__img" alt="Vlad">
					<div class="teachers-grid__item-description">
						<h3 class="teachers-grid__item-title small-title">Влад Исаков</h3>
						<p class="teachers-grid__item-text">
							Я автор-исполнитель и саундпродюссер. Основную часть своего
							времени я пишу, пою и продюсирую свои и сторонние проекты. Будучи действующим артистом, знаю как привести
							к этому и другого человека - научить петь, играть на инструменте, сочинять собственный материал.
							Не ограничиваюсь одним стилем, наиболее близкими для меня жанрами являются: альтернатива, инди и хип-хоп.
							Топлю за русскоязычную музыку, так как верю в её светлое будущее.
						</p>
					</div>
				</a>
				<a href="/choose-service/egor" class="teachers-grid__item">
					<img src="img/teachers/teacher-photo2.jpg"  class="teachers-grid__img" alt="Egor">
					<div class="teachers-grid__item-description">
						<h3 class="teachers-grid__item-title small-title">Егор Куприянов</h3>
						<p class="teachers-grid__item-text">
							Меня называют Мастером Души - я профессиональный актер. Родился в
							городе Ижевск. На фортепиано начал играть в третьем классе. За гитару взялся в 12 лет. Учился в колледже
							культуры на актера, работал на протяжении четырех лет в драматическом театре.
						</p>
					</div>
				</a>
				<a href="/choose-service/elizabeth" class="teachers-grid__item">
					<img src="img/teachers/teacher-photo6.jpg"  class="teachers-grid__img" alt="Elizabeth">
					<div class="teachers-grid__item-description">
						<h3 class="teachers-grid__item-title small-title">Елизавета Георг</h3>
						<p class="teachers-grid__item-text">
							Когда ты поешь, ты должен понимать то, что делаешь. Я помогаю
							пройти через трудности и добиться результата, которого ты хочешь. 
							Преподаю различные приёмы современного эстрадного вокала как мелизматика и twang. 
							В зависимости от целей, я могу помочь овладеть как простыми техническими навыками пения, 
							так и более продвинутыми.
						</p>
					</div>
				</a>
			</div>
			<a href="https://vk.com/topic-32080150_34176129" target="_blank" class="prices-section__testimonials">Отзывы
				учеников читайте здесь</a>
		</div>
	</section>
	<!-- Footer Section-->
	<footer class="footer">
		<div class="container footer-container">
			<a href="/"><img src="img/common/logo.png" alt="logo" class="footer-logo"></a>
			<ul class="footer-nav">
				<li><a href="/" class="footer-nav__link">Главная</a></li>
				<li><a href="teachers" class="footer-nav__link">Преподаватели</a></li>
				<li><a href="#" class="footer-nav__link active">услуги/цены</a></li>
				<li><a href="order-song" class="footer-nav__link">Заказ Песни</a></li>
				<li><a href="info" class="footer-nav__link">Информация</a></li>
				<li><a href="contacts" class="footer-nav__link">Контакты</a></li>
			</ul>
			<div class="footer__socials-wrap">
				<span class="footer__socials-subscribe">Подпишись на нас в соцсетях</span>
				<div class="footer-socials socials">
					<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i
							class="fab fa-vk"></i></a>
					<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link"><i
							class="fab fa-youtube"></i></a>
					<a href="https://www.instagram.com/johnkalligan.official" target="_blank" class="header-socials__link socials__link"><i
							class="fab fa-instagram"></i></a>
					<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link"><i
							class="fab fa-twitter"></i></a>
				</div>
			</div>
			<span class="footer__author">Developed and Designed by <a href="https://vk.com/makskuch" style="display: inline;"
					class="red">Max</a></span> <br>
			<span class="footer__copyright">©2020 ИП Каллиган Д.А.</span>
			<br>
			<span class="footer__copyright">ОГРНИП: 320527500079001</span>
		</div>
	</footer><!-- /Footer -->
</body>

</html>