<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#0A0B0C">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>John Kalligan Music School</title>
	<meta name="description"
		content="Преподаватели этой школы не будут просить Вас ощутить 'горячую картошку' во рту, помолиться вокальному Богу или чего-то подобного. Цель любого приходящего к нам — научиться владеть своим голосом или инструментом. И мы отлично знаем своё дело. Если Вы делаете что-то не правильно, Вам так об этом и скажут. У нас не просто забегаловка, мы занимаемся серьёзно и ответственно, забудьте о музыкальных школах, которые вы видели до этого. John Kalligan's Music School — это то, какой должна быть  музыкальная школа.">
	<link rel="canonical" href="http://johnkalligan.ru/" />
	<link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
	<meta property="og:title" content="ПРЕПОДАВАТЕЛИ | John Kalligan" />
	<meta property="og:url" content="http://johnkalligan.ru/" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="img/audioplayer/single-pic.jpg" />
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:400,600%7COswald:200,300,400%7CRoboto:400,500%7CTeko:300&display=swap"
		rel="stylesheet"
	>
	
	<link rel="stylesheet" href="css/index10.css">
	<script src="js/libs.min.js"></script>
	<script src="js/popup.js"></script>
	<script src="js/common.js"></script>
	<script src="js/alert.js"></script>
</head>

<body>
	<!-- Header -->
	<header class="header">
		<div class="header-container">
			<a href="/"><img src="img/common/logo.png" alt="logo" class="header-logo"></a>
			<ul class="header-nav">
				<li><a href="/" class="header-nav__link">Главная</a></li>
				<li><a href="teachers" class="header-nav__link active">Преподаватели</a></li>
				<li><a href="prices" class="header-nav__link">Услуги/цены</a></li>
				<li><a href="order-song" class="header-nav__link">Заказ Песни</a></li>
				<li><a href="info" class="header-nav__link">Информация</a></li>
				<li><a href="contacts" class="header-nav__link">Контакты</a></li>
			</ul>
			<div class="header-socials socials">
				<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i
						class="fab fa-vk"></i></a>
				<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link"><i
						class="fab fa-youtube"></i></a>
				<a href="https://www.instagram.com/johnkalligan.official" target="_blank"
					class="header-socials__link socials__link"><i class="fab fa-instagram"></i></a>
				<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link"><i
						class="fab fa-twitter"></i></a>
			</div>
			<button class="header__side-menu-btn"></button>
		</div>
	</header> <!-- /Header -->
	<aside class="side-menu">
		<ul class="side-menu-nav">
			<li><a href="/" class="side-menu-nav__link">Главная</a></li>
			<li><a href="teachers" class="side-menu-nav__link active">Преподаватели</a></li>
			<li><a href="prices" class="side-menu-nav__link">Услуги/цены</a></li>
			<li><a href="order-song" class="side-menu-nav__link">Заказ Песни</a></li>
			<li><a href="info" class="side-menu-nav__link">Информация</a></li>
			<li><a href="contacts" class="side-menu-nav__link">Контакты</a></li>
		</ul>
		<div class="side-menu-socials socials">
			<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i
					class="fab fa-vk"></i></a>
			<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link">
				<i class="fab fa-youtube"></i></a>
			<a href="https://www.instagram.com/johnkalligan.official" target="_blank"
				class="header-socials__link socials__link">
				<i class="fab fa-instagram"></i></a>
			<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link">
				<i class="fab fa-twitter"></i>
			</a>
		</div>
		<div class="side-menu__close"></div>
	</aside>

	<!--Teachers Section-->

	<section class="teachers-section section">
		<div class="container">
			<div class="section-head">
				<h2 class="section-head__title section-title">Преподаватели</h2>
			</div>
			<a id="john"></a>
			<div class="teachers-section__item">
				<!--Teacher Item-->
				<h3 class="teachers-section__item-title">John Kalligan</h3>
				<div class="teachers-section__item-inner">
					<div class="teachers-section__item-inner-photo">
						<a href="/choose-service/john">
							<img src="img/teachers/teacher-photo1.jpg" alt="John Kalligan">
						</a>
						<div class="teachers-section__socials socials">
							<a href="https://www.youtube.com/user/InkiShow" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-youtube"></i></a>
							<a href="https://www.instagram.com/johnkalligan.official" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-instagram"></i></a>
							<a href="https://vk.com/john.kalligan" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-vk"></i></a>
							<a href="https://twitter.com/johnnykalligan" target="_blank"
								class="teacher-section-socials__link socials__link"><i class="fab fa-twitter"></i></a>
						</div>
					</div>
					<div class="teachers-section__item-inner-info">
						<ul class="teachers-section__item-inner-info-characteristic">
							<li>Стаж: <span>11 лет</span></li>
							<li>Очные занятия: <span>да, Нижний Новгород</span></li>
							<li>Область преподавания:<span> Вокал, Продюсирование, Аранжировка, Теория</span></li>
							<li>Любимые исполнители: <span>Radiohead, Coldplay, Placebo, Raised By Swans, Mari! Mari!</span></li>
							<li>Skype: <span>john.kalligan</span></li>
						</ul>
						<p class="teachers-section__item-inner-info-description parag">Основатель школы. Я никогда не позиционировал себя
							как преподаватель, я учу актуальным техникам и максимально простым языком. Рассказываю то, с чем
							сталкивался я, как это решал. Я могу показать и изобразить всё, о чём рассказываю, в отличии от большинства
							"учителей". Я бы сравнил свою работу скорее с продюсерской.</p>
						<button href="https://calendar.google.com/calendar/embed?src=showinki%40gmail.com&ctz=Europe/Moscow"
							class="teachers-section__item-inner-info-schedule text-btn popup-btn" data-popup="#john-calendar">График
							преподавателя</button><sup class="teachers-section__item-inner-info-schedule-addition">*время по МСК</sup>
						<div class="teachers-section__item-inner-info-addition">
							(Не более 3-ех занятий в день)
						</div>
						<div class="teachers-section__buttons-group">
							<a href="/choose-service/john" class="teachers-section__pay-btn button button--fill">
								Записаться
							</a>
							<div class="lesson-signup">
								<button class="lesson-signup__btn button">Уточнить детали</button>
								<div class="lesson-signup__socials" style="display: none;">
									<div class="socials">
										<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-vk"></i>
										</a>
										<a href="https://t.me/emmagilman" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-telegram-plane"></i>
										</a>
										<a href="https://wa.me/79991207708" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-whatsapp"></i>
										</a>
										<a href="https://www.instagram.com/johnkalligan.official" target="_blank"
											class="header-socials__link socials__link">
											<i class="fab fa-instagram"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="john-calendar" class="popup">
						<div class="popup__inner">
							<iframe
								src="https://calendar.google.com/calendar/embed?src=showinki%40gmail.com&ctz=Europe%2FMoscow&mode=WEEK&color=%23D50000&wkst=2"
								style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
							<button class="popup__close"></button>
						</div>
					</div>
				</div>
				<div class="teachers-section__video video">
					<img src="img/common/video6.png" alt="Video Preview">
					<h4 class="teachers-section__video-title video__title">Как петь, если ты полный ноль</h4>
					<a href="https://youtu.be/yrLh4xZ7gTE" class="teachers-section__video-inner video__inner" data-lity>
						<div class="teachers-section__video-play video__play"></div>
					</a>
				</div>
			</div>
			<a id="alex"></a>
			<div class="teachers-section__item">
				<!--Teacher Item-->
				<h3 class="teachers-section__item-title">Александр Кобалия (Lex Kobalia)</h3>
				<div class="teachers-section__item-inner">
					<div class="teachers-section__item-inner-photo teachers-section__item-inner-photo--offset">
						<a href="/choose-service/lex">
							<img src="img/teachers/teacher-photo5.jpg" alt="Lex Kobalia">
						</a>
						<div class="teachers-section__socials socials">
							<a href="https://www.youtube.com/channel/UC98yvzmpQqhhPMW8vr9s32w" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-youtube"></i></a>
							<a href="https://www.instagram.com/lex_kobalia" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-instagram"></i></a>
							<a href="https://vk.com/lex_kobalia" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-vk"></i></a>
						</div>
					</div>
					<div class="teachers-section__item-inner-info">
						<ul class="teachers-section__item-inner-info-characteristic">
							<li>Стаж: <span>7 лет</span></li>
							<li>Очные занятия: <span>нет</span></li>
							<li>Область преподавания: <span> Вокал, Экстрим Вокал </span></li>
							<li>Любимые исполнители: <span>Jared Leto, Chester Bennington, YUNGBLUD</span></li>
							<li>Skype: <span>Lex_Kobalia</span></li>
						</ul>
						<p class="teachers-section__item-inner-info-description parag">
							Вокалист/Сонграйтер. Начал заниматься вокалом и
							написанием музыки с 18 лет. Преподам тебе пару уроков как научится расщеплять и петь микстом. Считаю,
							что научиться петь может каждый - главное цель и правильный подход.
						</p>
						<button class="teachers-section__item-inner-info-schedule text-btn popup-btn" data-popup="#alex-calendar">
							График преподавателя
						</button>
						<sup class="teachers-section__item-inner-info-schedule-addition">*время по МСК</sup>
						<div class="teachers-section__buttons-group">
							<a href="/choose-service/lex" class="teachers-section__pay-btn button button--fill">
								Записаться
							</a>
							<div class="lesson-signup">
								<button class="lesson-signup__btn button">Уточнить детали</button>
								<div class="lesson-signup__socials" style="display: none;">
									<div class="socials">
										<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-vk"></i>
										</a>
										<a href="https://t.me/emmagilman" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-telegram-plane"></i>
										</a>
										<a href="https://wa.me/79991207708" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-whatsapp"></i>
										</a>
										<a href="https://www.instagram.com/johnkalligan.official" target="_blank"
											class="header-socials__link socials__link">
											<i class="fab fa-instagram"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="alex-calendar" class="popup">
						<div class="popup__inner">
							<iframe
								src="https://calendar.google.com/calendar/embed?src=1dku2gsuk441867kupuc0g7eq0%40group.calendar.google.com&ctz=Europe%2FMoscow&mode=WEEK&color=%233F51B5&wkst=2"
								style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
							<button class="popup__close"></button>
						</div>
					</div>
				</div>
				<div class="teachers-section__video video">
					<h4 class="teachers-section__video-title video__title">Александр Кобалия</h4>
					<img src="img/common/video8.jpg" alt="Video Preview">
					<a href="https://youtu.be/GJR-XCEtMqs" class="teachers-section__video-inner video__inner" data-lity>
						<div class="teachers-section__video-play video__play"></div>
					</a>
				</div>
			</div>
			<a id="vlad"></a>
			<div class="teachers-section__item">
				<!--Teacher Item-->
				<h3 class="teachers-section__item-title">Влад Исаков (IVEMBR)</h3>
				<div class="teachers-section__item-inner">
					<div class="teachers-section__item-inner-photo teachers-section__item-inner-photo--offset">
						<a href="/choose-service/vlad">
							<img src="img/teachers/teacher-photo4.jpg" alt="Vlad Isakov">
						</a>
						<div class="teachers-section__socials socials">
							<a href="https://www.youtube.com/channel/UCpQ3djYU_ebalbP1ttDmEaA" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-youtube"></i></a>
							<a href="https://www.instagram.com/ivembr" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-instagram"></i></a>
							<a href="https://vk.com/ivembrs" target="_blank" class="teacher-section__socials__link socials__link"><i
									class="fab fa-vk"></i></a>
						</div>
					</div>
					<div class="teachers-section__item-inner-info">
						<ul class="teachers-section__item-inner-info-characteristic">
							<li>Стаж: <span>7 лет</span></li>
							<li>Очные занятия: <span>нет</span></li>
							<li>Область преподавания: <span> Вокал, Саундпродакшн, Сонграйтинг, Сведение</span></li>
							<li>Любимые исполнители: <span>Radiohead, The Neighborhood, Woodkid, Скриптонит, SALUKI</span></li>
							<li>Skype: <span>ivembr@outlook.com</span></li>
						</ul>
						<p class="teachers-section__item-inner-info-description parag">Я автор-исполнитель и саундпродюссер.
							Основную
							часть своего времени я пишу, пою и продюсирую свои и сторонние проекты. Будучи действующим артистом,
							знаю
							как привести к этому и другого человека - научить петь, играть на инструменте, сочинять собственный
							материал.
							Не ограничиваюсь одним стилем, наиболее близкими для меня жанрами являются: альтернатива, инди и
							хип-хоп.
							Топлю за русскоязычную музыку, так как верю в её светлое будущее. </p>
						<button class="teachers-section__item-inner-info-schedule text-btn popup-btn" data-popup="#vlad-calendar">
							График преподавателя
						</button>
						<sup class="teachers-section__item-inner-info-schedule-addition">*время по МСК</sup>
						<div class="teachers-section__buttons-group">
							<a href="/choose-service/vlad" class="teachers-section__pay-btn button button--fill">
								Записаться
							</a>
							<div class="lesson-signup">
								<button class="lesson-signup__btn button">Уточнить детали</button>
								<div class="lesson-signup__socials" style="display: none;">
									<div class="socials">
										<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-vk"></i>
										</a>
										<a href="https://t.me/emmagilman" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-telegram-plane"></i>
										</a>
										<a href="https://wa.me/79991207708" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-whatsapp"></i>
										</a>
										<a href="https://www.instagram.com/johnkalligan.official" target="_blank"
											class="header-socials__link socials__link">
											<i class="fab fa-instagram"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="vlad-calendar" class="popup">
						<div class="popup__inner">
							<iframe
								src="https://calendar.google.com/calendar/embed?src=na9vvirsso569092qeka3l1u48%40group.calendar.google.com&ctz=Europe%2FMoscow&mode=WEEK&color=%23616161&wkst=2"
								style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
							<button class="popup__close"></button>
						</div>
					</div>
				</div>
				<div class="teachers-section__video video">
					<h4 class="teachers-section__video-title video__title"> Влад Исаков</h4>
					<img src="img/common/video7.jpg" alt="Video Preview">
					<a href="https://youtu.be/P90eKC4HHO4" class="teachers-section__video-inner video__inner" data-lity>
						<div class="teachers-section__video-play video__play"></div>
					</a>
				</div>
			</div>
			<a id="egor"></a>
			<div class="teachers-section__item">
				<!--Teacher Item-->
				<h3 class="teachers-section__item-title">Егор Куприянов</h3>
				<div class="teachers-section__item-inner">
					<div class="teachers-section__item-inner-photo">
						<a href="/choose-service/egor">
							<img src="img/teachers/teacher-photo2.jpg" alt="Egor Kuprianov">
						</a>
						<div class="teachers-section__socials socials">
							<a href="https://www.youtube.com/channel/UC2oczG-oiirZBaANNu9JBxQ" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-youtube"></i></a>
							<a href="https://www.instagram.com/egorkuper/" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-instagram"></i></a>
							<a href="https://vk.com/egorkuper" target="_blank" class="teacher-section__socials__link socials__link"><i
									class="fab fa-vk"></i></a>
						</div>
					</div>
					<div class="teachers-section__item-inner-info">
						<ul class="teachers-section__item-inner-info-characteristic">
							<li>Стаж: <span>8 лет</span></li>
							<li>Очные занятия: <span>нет</span></li>
							<li>Область преподавания: <span> Вокал</span></li>
							<li>Любимые исполнители: <span>Rone Pope, Brandon Urie, Николай Носков</span></li>
							<li>Skype: <span>dra-1990-gon</span></li>
						</ul>
						<p class="teachers-section__item-inner-info-description parag">
							Меня называют Мастером Души - я профессиональный
							актер. Родился в городе Ижевск. На фортепиано начал играть в третьем классе. За гитару взялся в 12 лет.
							Учился в колледже культуры на актера, работал на протяжении четырех лет в драматическом театре. 
						</p>
						<button class="teachers-section__item-inner-info-schedule text-btn popup-btn" data-popup="#egor-calendar">
							График преподавателя
						</button>
						<sup class="teachers-section__item-inner-info-schedule-addition">*время по МСК</sup>
						<div class="teachers-section__item-inner-info-addition">
							(Не более 4-ех занятий в день)
						</div>
						<div class="teachers-section__buttons-group">
							<a href="/choose-service/egor" class="teachers-section__pay-btn button button--fill">
								Записаться
							</a>
							<div class="lesson-signup">
								<button class="lesson-signup__btn button">Уточнить детали</button>
								<div class="lesson-signup__socials" style="display: none;">
									<div class="socials">
										<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-vk"></i>
										</a>
										<a href="https://t.me/emmagilman" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-telegram-plane"></i>
										</a>
										<a href="https://wa.me/79991207708" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-whatsapp"></i>
										</a>
										<a href="https://www.instagram.com/johnkalligan.official" target="_blank"
											class="header-socials__link socials__link">
											<i class="fab fa-instagram"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="egor-calendar" class="popup">
						<div class="popup__inner">
							<iframe
								src="https://calendar.google.com/calendar/embed?src=vlntlq3dv1br99ueoro9l938pg%40group.calendar.google.com&ctz=Europe/Moscow&mode=WEEK&color=%238E24AA&wkst=2"
								style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
							<button class="popup__close"></button>
						</div>
					</div>
				</div>
				<div class="teachers-section__video video">
					<h4 class="teachers-section__video-title video__title">Егор Куприянов</h4>
					<img src="img/common/video4.png" alt="Video Preview">
					<a href="https://www.youtube.com/watch?v=RZXMVhIkOJY" class="teachers-section__video-inner video__inner"
						data-lity>
						<div class="teachers-section__video-play video__play"></div>
					</a>
				</div>
			</div>
			<a id="elizabeth"></a>
			<div class="teachers-section__item">
				<!--Teacher Item-->
				<h3 class="teachers-section__item-title">Елизавета Георг</h3>
				<div class="teachers-section__item-inner">
					<div class="teachers-section__item-inner-photo">
						<a href="/choose-service/elizabeth">
							<img src="img/teachers/teacher-photo6.jpg" alt="Elizabeth">
						</a>
						<div class="teachers-section__socials socials">
							<a href="https://www.youtube.com/channel/UCaovoWLB9jQgImQxnkbS4UQ" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-youtube"></i></a>
							<a href="https://www.instagram.com/elizabeth_georg_/" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-instagram"></i></a>
							<a href="https://vk.com/elizaveta_georg" target="_blank" class="teacher-section__socials__link socials__link"><i
									class="fab fa-vk"></i></a>
						</div>
					</div>
					<div class="teachers-section__item-inner-info">
						<ul class="teachers-section__item-inner-info-characteristic">
							<li>Стаж:</li>
							<li>Вокал: 15 лет</li>
							<li>Преподавание: 4 года</li>
							<li>Очные занятия: <span>нет</span></li>
							<li>Область преподавания: <span>Вокал (поп, госпел, соул), сольфеджио</span></li>
							<li>Любимые исполнители: <span>Barbara Streisand, Whitney Houston, Christina Aguilera, Sam Smith</span></li>
							<li>Skype: <span>live:.cid.55b70ebc41df85c4</span></li>
						</ul>
						<p class="teachers-section__item-inner-info-description parag">
							Когда ты поешь, ты должен понимать то, что делаешь. Я помогаю
							пройти через трудности и добиться результата, которого ты хочешь. 
							Преподаю различные приёмы современного эстрадного вокала как мелизматика и twang. В зависимости от целей, я могу помочь овладеть как простыми техническими навыками пения, так и более продвинутыми. 
						</p>
						<button class="teachers-section__item-inner-info-schedule text-btn popup-btn" data-popup="#elizaveta-calendar">
							График преподавателя
						</button>
						<sup class="teachers-section__item-inner-info-schedule-addition">*время по МСК</sup>
						<div class="teachers-section__buttons-group">
							<a href="/choose-service/elizabeth" class="teachers-section__pay-btn button button--fill">
								Записаться
							</a>
							<div class="lesson-signup">
								<button class="lesson-signup__btn button">Уточнить детали</button>
								<div class="lesson-signup__socials" style="display: none;">
									<div class="socials">
										<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-vk"></i>
										</a>
										<a href="https://t.me/emmagilman" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-telegram-plane"></i>
										</a>
										<a href="https://wa.me/79991207708" target="_blank" class="header-socials__link socials__link">
											<i class="fab fa-whatsapp"></i>
										</a>
										<a href="https://www.instagram.com/johnkalligan.official" target="_blank"
											class="header-socials__link socials__link">
											<i class="fab fa-instagram"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="elizaveta-calendar" class="popup">
						<div class="popup__inner">
							<iframe
								src="https://calendar.google.com/calendar/embed?src=364gj4f95j1t125ck98rcd5b1g%40group.calendar.google.com&ctz=Europe%2FMoscow&mode=WEEK&color=%238E24AA&wkst=2"
								style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
							<button class="popup__close"></button>
						</div>
					</div>
				</div>
				<div class="teachers-section__video video">
					<h4 class="teachers-section__video-title video__title">Елизавета Георг</h4>
					<img src="img/common/video9.png" alt="Video Preview">
					<a href="https://youtu.be/GdhvuQsh5NQ" class="teachers-section__video-inner video__inner"
						data-lity>
						<div class="teachers-section__video-play video__play"></div>
					</a>
				</div>
			</div>
			<a id="dmitry"></a>
			<div style="max-height: 565px; overflow: hidden;" class="teachers-section__item">
				<!--Teacher Item-->
				<div class="teachers-section__item-inner">
					<div class="teachers-section__item-inner-photo">
						<img src="img/teachers/teacher-photo3.jpg" alt="Dmitri Feizulaev">
						<div class="teachers-section__socials socials">
							<a href="https://www.youtube.com/channel/UCCzrrMuF4QrHojWouv8eN9w" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-youtube"></i></a>
							<a href="https://vk.com/id11891260" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-vk"></i></a>
							<a href="https://twitter.com/DmitryF1993?lang=ru" target="_blank"
								class="teacher-section__socials__link socials__link"><i class="fab fa-twitter"></i></a>
						</div>
					</div>
					<div class="teachers-section__item-inner-info">
						<ul class="teachers-section__item-inner-info-characteristic">
							<li>Возраст: <span>25</span></li>
							<li>Очные занятие: <span>нет</span></li>
							<li>Область преподавания: <span>Вокал, Продюсирование, Аражировка, Теория, Сведение, Фортепиано</span>
							</li>
							<li>Любимые исполнители: <span>Serj Tankian, Николай Носков, Frank Sinatra</span></li>
							<li>Skype: <span>bioshock2009</span></li>
						</ul>
						<a href="#" class="teachers-section__popup-btn popup-btn" data-popup="#dmitry-prices">Услуги/цены</a>
						<p class="teachers-section__item-inner-info-description parag">Я начал увлекаться написанием музыки с 14
							лет,
							в то
							же время начал изучать фортепиано, звукозапись, аранжировку и сведение, чуть позже – вокал.
							Музыкального
							образования не имею. Закончил юридический факультет.
							Я начал увлекаться написанием музыки с 14 лет, в то же время начал изучать фортепиано, звукозапись,
							аранжировку и сведение, чуть позже – вокал. Уверен, что для каждого человека необходим индивидуальный
							подход в обучении, будь то вокал, муз. инструмент и т. д.</p>
						<a href="https://calendar.google.com/calendar/embed?src=4fucfu1esg12go0odmclgghu2c%40group.calendar.google.com&ctz=Europe/Moscow"
							class="teachers-section__item-inner-info-schedule">График преподавателя</a><sup
							class="teachers-section__item-inner-info-schedule-addition">*время по МСК</sup>
						<div class="teachers-section__item-inner-info-addition">
							(Не более 4-ех занятий в день, переводите график в режим "неделя")
						</div>
					</div>
				</div>
				<div id="dmitry-prices" class="popup">
					<div class="popup__sub"></div>
					<div class="popup__inner">
						<h5 class="popup__title">Дмитрий Фейзуллаев</h5>
						<div class="popup__prices-wrap">
							<ul class="popup__prices-item">
								<li>Вокал индивидуальное:</li>
								<li>Beginner - 650руб.</li>
								<li>Advanced - 900руб.</li>
								<li>Professional - 1200руб.</li>
							</ul>
							<ul class="popup__prices-item">
								<li>Другое:</li>
								<li>Онлайн Совет - 200руб.</li>
								<li>Прикладная Теория - 1000руб.</li>
								<li>Вопрос-Ответ - 1000руб.</li>
							</ul>
						</div>
						<button class="popup__close"></button>
					</div>
				</div>
				<div class="teachers-section__item-vacancy-wrapper">
					<div>
						<h3 class="teachers-section__item-vacancy-wrapper-title red">Место вакантно</h3>
						<p class="teachers-section__item-vacancy-wrapper-inf">пишите на почту <a href="mailto:showinki@gmail.com"
								style="display: inline;" class="red underline">showinki@gmail.com</a></p>
					</div>
				</div>
			</div>
	</section>

	<!--FAQ Section-->
	<section class="section faq-section">
		<div class="container">
			<h4 class="faq-section__title">Часто задаваемые вопросы</h4>
			<div class="faq-section__item">
				<div class="faq-section__item-head">
					<h5 class="faq-section__item-title">Какой преподаватель лучший?</h5>
					<img src="img/teachers/faq_arrow.svg" alt="Arrow Icon" class="faq-section__item-btn">
				</div>
				<div class="faq-section__item-content">
					<p>Все преподаватели проходят подготовку, проводящуюся основателем школы, Джоном. Это не люди с улицы, которые
						просто умеют петь. Все преподаватели в школе имеют достаточный опыт и квалификацию для выполнения своих
						задач. Однако, запросы у людей довольно широкие и один наставник не может знать всего на свете. Поэтому у
						нас их несколько и каждый специализируется на своём. Вам мы рекомендуем просто посмотреть видео-презентации
						каждого преподавателя и выбрать по своему вкусу.</p>
					<iframe class="iframe" src="https://www.youtube.com/embed/DrsUUEheTb0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
			<div class="faq-section__item">
				<div class="faq-section__item-head">
					<h5 class="faq-section__item-title">Что такое "Абонемент"?</h5>
					<img src="img/teachers/faq_arrow.svg" alt="Arrow Icon" class="faq-section__item-btn">
				</div>
				<div class="faq-section__item-content">
					<p>Абонемент - это по-сути оптовая покупка занятий (самих занятий может быть от 4 и до бесконечности). Покупая
						абонемент Вы получаете:</p>
					<ol>
						<li>Скидка 10% от общей суммы.</li>
						<li>Возможность проставить свои занятия в график хоть на год вперёд.</li>
						<li>Онлайн-поддержка преподавателя в Telegram, Skype или VK.</li>
					</ol>
				</div>
			</div>
			<div class="faq-section__item">
				<div class="faq-section__item-head">
					<h5 class="faq-section__item-title">Где посмотреть график преподавателя?</h5>
					<img src="img/teachers/faq_arrow.svg" alt="Arrow Icon" class="faq-section__item-btn">
				</div>
				<div class="faq-section__item-content">
					<p>Выше этого окна вы увидите список преподавателей, следуйте инструкции:</p>
					<ol>
						<li>Найдите внизу описания "ГРАФИК ПРЕПОДАВАТЕЛЯ"</li>
						<li>Кликните прямо на эту надпись</li>
					</ol>
					<p>
						Откроется Google Calendar. Обратите внимание, у
						некоторых преподавателей есть лимит занятий в день. Это указано в описании преподавателя.
					</p>
				</div>
			</div>
			<div class="faq-section__item">
				<div class="faq-section__item-head">
					<h5 class="faq-section__item-title">Что нужно для Skype занятий?</h5>
					<img src="img/teachers/faq_arrow.svg" alt="Arrow Icon" class="faq-section__item-btn">
				</div>
				<div class="faq-section__item-content">
					<p>Веб-камера, микрофон. Если занятие не теоретического или продюсерского направления, то ещё любой
						музыкальный инструмент под рукой.
						Единственное реальное различие скайпа и очных занятий, то что упражнения вы сами играете, если требуется, а
						не преподаватель.</p>
					<iframe class="iframe" src="https://www.youtube.com/embed/TNILbBE_npE"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>

		</div>
	</section>
	<script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff_v2.js"></script>

	<!--Footer Section-->
	<footer class="footer">
		<div class="container footer-container">
			<a href="/"><img src="img/common/logo.png" alt="logo" class="footer-logo"></a>
			<ul class="footer-nav">
				<li><a href="/" class="footer-nav__link">Главная</a></li>
				<li><a href="#" class="footer-nav__link active">Преподаватели</a></li>
				<li><a href="prices" class="footer-nav__link">услуги/цены</a></li>
				<li><a href="order-song" class="footer-nav__link">Заказ Песни</a></li>
				<li><a href="info" class="footer-nav__link">Информация</a></li>
				<li><a href="contacts" class="footer-nav__link">Контакты</a></li>
			</ul>
			<div class="footer__socials-wrap">
				<span class="footer__socials-subscribe">Подпишись на нас в соцсетях</span>
				<div class="footer-socials socials">
					<a href="https://vk.com/emmagilman" target="_blank" class="header-socials__link socials__link"><i
							class="fab fa-vk"></i></a>
					<a href="https://www.youtube.com/user/InkiShow" target="_blank" class="header-socials__link socials__link"><i
							class="fab fa-youtube"></i></a>
					<a href="https://www.instagram.com/johnkalligan.official" target="_blank"
						class="header-socials__link socials__link"><i class="fab fa-instagram"></i></a>
					<a href="https://twitter.com/johnnykalligan" target="_blank" class="header-socials__link socials__link"><i
							class="fab fa-twitter"></i></a>
				</div>
			</div>
			<span class="footer__author">Developed and Designed by <a href="https://vk.com/makskuch" style="display: inline;"
					class="red">Max</a></span> <br>
			<span class="footer__copyright">©2020 ИП Каллиган Д.А.</span>
			<br>
			<span class="footer__copyright">ОГРНИП: 320527500079001</span>
		</div>
	</footer><!-- /Footer -->
</body>

</html>